<% if policy(@article).update? %>
  <% if @article.active? && !@article.feedback.empty? %>
    <p class="alert alert-danger"><%= @article.feedback %></p>
  <% end %>
  <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-outline-primary' %>
<% end %>
<% if policy(@article).destroy? %>
  <%= link_to "Destroy", article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure?" },
              class: 'btn btn-outline-danger' %>
<% end %>
<% if @article.all_content? || user_signed_in? %>
  <h1><%= @article.title %></h1>
  <%= render 'articles/date', article: @article %>
  <h3><%= @article.short_description %></h3>
  <div class="text-center">
    <%= image_tag @article.news_main_image.url(:large) %>
  </div>
  <%= @article.body %><br>
  <p>Region: <%= @article.region %></p>
  <h3>Average rating: <%= Rating.where(article: @article).average(:number).to_f %></h3>
  <% if user_signed_in? %>
    <% if !current_user.ratings.find_by(article: @article) %>
      <%= render 'ratings/form', article: @article %>
    <% else %>
      <%= render 'ratings/rating', article: @article %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <% if !current_user.viewings.find_by(article: @article) %>
      <%= render 'viewings/form', article: @article %>
    <% else %>
      <h3>Viewed</h3>
    <% end %>
  <% end %>

  <h2>See more:</h2>
  <h3><%= raw @article.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-primary" }.join(' ') %></h3>
  <h3><%= link_to @article.category.capitalize, category_path(@article.category) %></h3>

  <h2>Share on twitter:</h2>
  <%= link_to "https://twitter.com/intent/tweet?text=#{ @article.title }&url=#{ request.url }" do %>
    <i class="fab fa-twitter-square fa-4x twitter"></i>
  <% end %>

  <h2>Comments</h2>
  <%= render 'comments/comment', article: @article %>
  <% if user_signed_in? %>
    <h2>Add a comment:</h2>
    <%= render 'comments/form', article: @article %>
  <% end %>
<% elsif @article.title_and_short_description? %>
  <h1><%= @article.title %></h1>
  <h3><%= @article.short_description %></h3>
  <p>For further viewing, you must register:</p>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary' %>
<% elsif @article.title? %>
  <h1><%= @article.title %></h1>
  <p>For further viewing, you must register:</p>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary' %>
<% elsif @article.nothing? %>
  <p>For viewing, you must register:</p>
  <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary' %>
<% end %>