<body>
<main>
  <div class="row">
    <div class="col s6">
      <h1>Ideas</h1>
    </div>
    <div class="col s6">
      <% if user_signed_in? %>
    <h1 class="right"><%= link_to "New", new_idea_path(@idea), class: 'btn btn-primary' %></h1>
        <% end %>
    </div>
  </div>
</main>

<div class="row">
  <table class="table table-bordered table-hover">
      <div class="post-preview">
        <h4 class="post-title titleFont">
          <% if user_signed_in? %>
            <% @ideas.each do |record| %>
              <tr>
                <% unless !record.visible && record.users_id != current_user.id %>
                  <td>
                    <%= link_to record.idea_name, idea_path(record), method: :get %>
                  </td>
                  <td>
                    <% unless record.visible %>
                        [draft]
                    <% end %>
                  </td>
                  <%if record.users_id == current_user.id %>
                    <td class="table-row">
                      <% if policy(record).destroy? %>
                        <%= link_to "Destroy", idea_path(record),
                                    method: :delete,
                                    data: { confirm: "Are you sure?" },
                                    class: 'btn btn-outline-danger' %>
                      <% end %>
                    </td>
                    <td class="table-row">
                      <% if policy(record).update? %>
                        <%= link_to "Edit", edit_idea_path(record), class: 'btn btn-primary' %>
                      <% end %>
                    </td>
                    <td class="table-row">
                      <% if current_user %>
                        <%= content_tag "div", id: "like-link-#{record.id}" do %>
                          <%#binding.pry %>
                          <%#= render 'ideas/like_link', post: record %>
                        <% end %>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
              </tr>
            <%end %>
          <% else %>
            <div class="row">
              <div class="col">
                <p>For further viewing, you should sign in:</p>
                <%= link_to "Sign in", new_user_session_path, class: 'btn btn-outline-primary' %>
              </div>
            </div>
          <% end %>
        </h4>
      </div>

  </table>
</div>
</div>
</body>

<h1>Posts</h1>
<% @ideas.each do |idea| %>
  <%= idea.idea_name %>
  <% if current_user %>
    <%= content_tag "div", id: "like-link-#{idea.id}" do %>
      <%= render 'ideas/like_link', idea: idea %>
    <% end %>
  <% end %>
  <hr>
<% end %>
