<main>
  <% if @idea.visible %>
    <h1 class="head-name">
      <%= @idea.idea_name%>
    </h1>
    <h4><%= @idea.idea_description %></h4>
    <div class="row">
      <div class="col s6">
        <div class="row">
          <div class="col s10">
            <p>Industry: <%= @idea.industry %></p>
            <p>Location: <%= @idea.geo %></p>
            <p>Problem: <%= @idea.problem %></p>
            <p>Need: <%= @idea.problem %></p>
          </div>
        </div>
      </div>
      <div class="col s6">
        <%if @idea.team %>
          <table>
            <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Role</th>
              <th scope="col">Projects</th>
              <th scope="col">Avg. rate</th>
            </tr>
            </thead>
            <% @idea.team.users.each do |team_user|%>
            <tr>
                <td><%=team_user.first_name %>
                  <%=team_user.last_name %></td>
                  <%end %>
                </tr>
            <h4>Team:</h4>
          </table>
        <%end %>
      </div>
    <div class="row">
      <div class="col s4">
        <p>Owner: <%= @idea.user.first_name%> <%=@idea.user.last_name %></p>
      </div>
      </div>
    </div>
  <%end %>
</main>
