<main>
  <div class="row">
    <div class="col s6">
      <h1 class="head-name">
        <%= @idea.idea_name %>
      </h1>
    </div>
    <div class="col s6">
      <% unless @idea.visible %>
        <h1 class="draft-name">[Draft]</h1>
      <% end %>
    </div>
  </div>
    <h4><%= @idea.idea_description %></h4>
  <div class="col s12">
    <ul class="tabs" id="tabs">
      <li class="tab col s3"><a href="#tabs-1">About</a></li>
      <li class="tab col s3"><a href="#tabs-2">Team</a></li>
      <li class="tab col s3"><a href="#tabs-3">Sponsors</a></li>
      <li class="tab col s3"><a href="#tabs-4">Statistics</a></li>
    </ul>
  </div>

  <div id="tabs-1" class="col s12">
    <div class="row">
      <div class="col s10">
        <br>
        <p>Industry: <%= @idea.industry %></p>
        <p>Location: <%= @idea.geo %></p>
        <p>Problem: <%= @idea.problem %></p>
        <p>Need: <%= @idea.need %></p>
      </div>
    </div>
  </div>

  <div id="tabs-2" class="col s12">
    <div class="col s6">
      <%if @idea.team %>
        <table>
          <thead>
          <tr>
            <th scope="col">Name</th>
          </tr>
          </thead>
          <% @idea.team.users.each do |team_user|%>
            <tr>
              <td><%=team_user.first_name %>
                <%=team_user.last_name %></td>
            </tr>
          <%end %>
          <h4>Team:</h4>
        </table>
      <%end %>
    </div>  </div>

  <div id="tabs-3" class="col s12">
    <h5>Sponsors's contacts:</h5>
    <% @idea.subscribe_ideas.each do |sub_idea|%>
      <% if sub_idea.user.sponsor %>
        <p><%= sub_idea.user.first_name %> <%= sub_idea.user.last_name %>:</p>
        <p><%= sub_idea.user.email%></p>
        <p><%= sub_idea.user.sponsor.opportunity %></p>
      <% end %>
      <br>
    <% end %>
  </div>

  <div id="tabs-4" class="col s12">
    <h5>Statistics:</h5>
    <%sponsors = [] %>
    <% @idea.subscribe_ideas.each do |sub_idea|%>
      <% sponsors << sub_idea.user.sponsor_id %>
    <% end %>
    <p>Number of subscribed sponsors: <%= sponsors.count %></p>
  </div>

    <div class="row">
      <h5>Comments:</h5>
      <%= render 'comments/comment', idea: @idea %>
      <% if user_signed_in? && @idea.visible%>
        <h6>Add a comment:</h6>
        <%= render 'comments/form', idea: @idea %>

    </div>
        <% if current_user.subscribe_ideas.where(ideas_id: @idea.id).exists? %>
          <h5><%= link_to "UnSubscribe", unsubscribe_idea_path(@idea), method: ':post', class: 'btn btn-primary' %></h5>
        <% else %>
          <h5><%= link_to "Subscribe", subscribe_idea_path(@idea), method: ':post', class: 'btn btn-primary' %></h5>
        <% end %>
      <% end %>
  <div class="row">
    <div class="col s4">
      <p>Owner: <%= @idea.user.first_name%> <%=@idea.user.last_name %></p>
    </div>
  </div>
</main>
