<% if user_signed_in? %>
  <div class="row">
    <div class="col">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Role: <%= @user.role.role %></p>
      <% if policy(@user).update? %>
        <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
    <% if current_user != true_user %>
      You (<%= true_user.first_name %> <%= true_user.last_name %>) are signed in as <%= current_user.first_name %> <%= current_user.last_name %>
      <%= link_to "Back to admin", stop_impersonating_users_path, method: :post %>
    <% else %>
      <% if policy(@user).impersonate? %>
        Sign in as <%= link_to @user.first_name, impersonate_user_path(@user), method: :post %>
        <%= link_to @user.last_name, impersonate_user_path(@user), method: :post %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <% if @user.profile_picture.attached?%>
        <%= image_tag url_for(@user.profile_picture.variant(resize: '500x500').processed), class: 'img-fluid'%>
      <% else %>
        <div class="profile-picture no-profile-picture"></div>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>For further viewing, you must register:</p>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
