<% if user_signed_in? %>
  <div class="row">
    <div class="col">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>Role: <%= @user.role.role %></p>
      <% if policy(@user).update? %>
        <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col">
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      <p>For further viewing, you must register:</p>
      <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-outline-primary' %>
    </div>
  </div>
<% end %>
