<div class="row-login">
  <div class="wrapper-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail_outline</i>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <%= f.label :password %><br/>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m12 l12  login-text">
            <input type="checkbox" id="remember-me" />
            <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>
          </div>
        </div>
      <div class="row">
        <div class="input-field col s6"><%= f.submit "Login", class: 'btn btn-large btn-outline-secondary' %></div>
        <div class="input-field col s6"><%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-large btn-outline-secondary' %></div>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <%= render "devise/shared/links" %>
</div>
