<br>
<div class="slider">
  <ul class="slides">
    <% Idea.all.sample(4).each do |slide_idea| %>
      <li>
        <div class="caption left-align">
          <h3><%= link_to  slide_idea.idea_name, idea_path(slide_idea), method: :get %></h3>
          <h5 class="light grey-text text-lighten-3">
            <%= link_to  slide_idea.idea_description, idea_path(slide_idea), method: :get %>
          </h5>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<ul class="cards-item">
  <% @ideas = Idea.all.paginate(page: params[:page], per_page: 6) %>
  <% @ideas.each do |idea| %>
    <li class="cards-item-plate">
      <div class="col s12 m4">
        <h4><%= link_to  idea.idea_name, idea_path(idea), method: :get %></h4>
        <p class="light">Location: <%= idea.geo %></p>
        <p class="light">Need: <%= idea.need %></p>
        <p class="light">Owner: <%= idea.user.first_name%> <%=idea.user.last_name %></p>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @ideas%>
<br>


