<br>
<div class="slider">
  <ul class="slides">
    <% Idea.all.sample(4).each do |sl_idea| %>
      <li>
        <div class="caption left-align">
          <h3><%= sl_idea.idea_name %></h3>
          <h5 class="light grey-text text-lighten-3"><%= sl_idea.idea_description %></h5>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<ul class="cards-item">
  <% @ideas = Idea.all.paginate(page: params[:page], per_page: 6) %>
  <% @ideas.each do |idea| %>
    <li class="cards-item-plate">
      <div class="col s12 m4">
        <h4><%= idea.idea_name %></h4>
        <p class="light">Owner: <%= idea.user.first_name%> <%=idea.user.last_name %></p>
        <p class="light">Location: <%= idea.geo %></p>
        <p class="light">Need: <%= idea.need %></p>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @ideas%>
<br>


